$info: (
    50: #edfbff,
    100: #d6f5ff,
    200: #b5efff,
    300: #83e8ff,
    400: #48d8ff,
    500: #1ebcff,
    600: #069fff,
    700: #008cff,
    800: #086ac5,
    900: #0d5b9b,
);

$danger: (
    50: #fef2f3,
    100: #ffe1e3,
    200: #ffc8cb,
    300: #ffa1a7,
    400: #fe6b74,
    500: #ff2f2f,
    600: #e31f2b,
    700: #bf1620,
    800: #9e161e,
    900: #83191f
);

$warning: (
    50: #fffaea,
    100: #fff1c5,
    200: #ffe386,
    300: #ffce46,
    400: #ffb71c,
    500: #fe9301,
    600: #e16c00,
    700: #bb4902,
    800: #973809,
    900: #7c2e0b,
);

$success: (
    50: #eefffb,
    100: #c6fff3,
    200: #8effe9,
    300: #4dfbdd,
    400: #19e8cb,
    500: #00d0b6,
    600: #00a494,
    700: #028377,
    800: #086760,
    900: #0c554f
)
